@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="grey lighten-2">
        <div class="container">
            <div class="navbar-header">
                <span class="black-text">
                    Use this space to summarize your privacy and cookie use policy.
                </span>
                <div class="right">
                    <a asp-controller="Home" asp-action="Privacy" class="btn-small blue-darken-1">Learn More</a>
                    <button type="button" class="btn-small green darken-1" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
}