/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
.pointer {
  cursor: pointer !important; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.page-footer {
  padding: 0; }

.justify {
  text-align: justify; }

link, link:visited {
  cursor: pointer;
  color: #2196f3;
  text-decoration: none;
  transition-duration: 0.3s; }

link:hover, link:focus {
  color: #1e88e5; }

.text-title {
  font-size: 2rem; }

.text-subtitle {
  font-size: 1.5rem; }

.text-normal {
  font-size: 1rem; }

.text-small {
  font-size: 0.8rem; }

.text-xsmall {
  font-size: 0.5rem; }
